* {
    font-family: 'Montserrat', sans-serif;
    color: #363636;
}

body {
    background: black;
    border: 0;
    margin: 0;
    position: relative;
}

.press-start {
    font-family: 'Press Start 2P', cursive;
}

ul {
  list-style-type: none;
}

.text-welcome {
    font-size: 8vw;
    margin-top: 24px;
    margin-bottom: 24px;
}

.text-1 {
    font-size: 3rem;
}
.text-2 {
    font-size: 2.5rem;
}
.text-3 {
    font-size: 2rem;
}
.text-4 {
    font-size: 1.5rem;
}
.text-5 {
    font-size: 1.25rem;
}
.text-6 {
    font-size: 1rem;
}
.text-7 {
    font-size: 0.75rem;
}
.text-large {
    font-size: 7vw;
    margin-top: 24px;
    margin-bottom: 48px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}
h2 {
    font-weight: 400;
}
h3 {
    font-weight: 400;
    text-transform: uppercase;
}
h5 {
  font-weight: 200;
}

.dark-text {
    color: #363636;
}
.light-text {
    color: #F5F5F5;
}

.orange-text {
    color: #EB6B32;
}
.dark-orange-text {
    color: #CE410B;
}

.text-bold {
    font-weight: 800;
}

.text-thin {
    font-weight: 200;
}

.hero {
    height:100vh;
    width: 100%;
    background-image: url("../images/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
}

.hero-content {
    height: calc(100% - 75px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-content img {
    max-height: 90%;
    max-width: 90%;
}

.hero-indication {
    height: 75px;
    background: #363636;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
}

.hero-indication-left {
    width: 75px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.hero-indication-left img {
    height: 60%;
}

.hero-indication-right {
    width: calc(100% - 75px);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.hero-indication-right p {
  color: #1d1d1d;
}

.hero-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-scroll p {
  color: white;
}

@media screen and (max-width: 655px) {
  section {
    padding-top: 115px !important;
  }

  .main-footer {
      width: 100%;
      box-sizing: border-box;
  }

  header {
      position: fixed;
      background: #1d1d1d;
      width: 100%;
      height: 75px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      z-index: 1;
      transition: height 1s;
  }
  header:hover {
    height: 100%;
  }

  header:hover .exit-nav {
    opacity: 1;
    height: 75px;
  }

  header:hover nav .nav-bottom p{
    opacity: 0;
  }

  nav {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    transition: opacity 1s;
    min-height: 75px;
  }

  .exit-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0%;
    opacity: 0;
    background: #F5F5F5;
    transition: height 1s, opacity 1s;
  }

  .nav-top {
      width: 75px;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
  }

  .nav-logo {
      height: 45px;
  }

  .nav-bottom {
      width: calc(100% - 75px);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
  }

  .nav-bottom p:after {
    content: "..."
  }

  .nav-bottom p {
    color: white;
    transition: opacity 1s;
  }
}

@media screen and (min-width: 655px) {
  .main-footer {
      width: calc(100% - 75px);
      margin-left: 75px;
      box-sizing: border-box;
  }

  header {
      position: fixed;
      background: #1d1d1d;
      width: 75px;
      height: 100vh;
      display: flex;
      flex-direction: row;
      box-sizing: border-box;
      z-index: 1;
      transition: width 1s;
  }

  header:hover {
    width: 550px;
  }

  header:hover nav .nav-bottom p{
    opacity: 0;
  }

  nav {
    position: relative;
    height: 100%;
    width: 100%;
    transition: opacity 1s;
    min-width: 75px;
  }

  .exit-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    opacity: 0;
    background: #F5F5F5;
    transition: width 1s, opacity 1s;
  }

  .nav-top {
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
  }

  .nav-logo {
      height: 60%;
  }

  .nav-bottom {
      width: 100%;
      height: calc(100% - 75px);
      display: flex;
      align-items: flex-end;
      padding-bottom: 12px;
      justify-content: center;
      box-sizing: border-box;
      transition: opacity 1s;
  }

  .nav-bottom p:after {
    content: "..."
  }

  .nav-bottom p {
    color: white;
  }
}

.nav-bottom {
  position: relative;
}

.nav-items{
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0;
  left: -100px;
  transition: all 0.2s;
}

.nav-items ul li{
  margin-bottom: 10px;
}

.link-line {
  width: 0px;
  height: 2px;
  background: #EB6B32;
  transition: all 0.2s;
}

.nav-items ul li a:hover .link-line{
  width: 100%;
}

.nav-items ul{
  padding-left: 0;
}

header:hover nav .nav-items {
  pointer-events: all;
  opacity: 1;
  transition: all 1s;
  transition-delay: 0.5s;
}

@media screen and (min-width: 500px) {
  header:hover nav .nav-items {
    left: 80px;
  }
  .nav-items ul li a{
    text-decoration: none;
    font-size: 2.5rem;
    display: inline-block;
  }
}
@media screen and (max-width: 500px) {
  header:hover nav .nav-items {
    left: 10px;
  }
  .nav-items ul li a{
    text-decoration: none;
    font-size: 1rem;
    display: inline-block;
  }
}

.section-welcome {
    background: #F5F5F5;
}

@media screen and (max-width: 960px) {
  .container {
      display: flex;
      flex-direction: column;
  }
  .container-left {
      width: 100%;
      box-sizing: border-box;
  }
  .container-right {
      width: 100%;
      box-sizing: border-box;
      position: relative;
  }
  section {
    min-height: 100vh;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      box-sizing: border-box;
      padding-top: 48px;
      padding-bottom: 48px;
  }
}

@media screen and (min-width: 960px) {
  .container {
      display: flex;
      flex-direction: row;
  }
  .container-left {
      width: 50%;
      margin-right: 24px;
      box-sizing: border-box;
  }
  .container-right {
      width: 50%;
      margin-left: 24px;
      box-sizing: border-box;
      position: relative;
  }
  section {
      min-height: 100vh;
      width: 100%;
      padding-left: 48px;
      padding-right: 48px;
      box-sizing: border-box;
      padding-top: 60px;
      padding-bottom: 60px;
  }
}

.container-height {
    min-height: 50vh;
}

.container-right a {
  text-decoration: none;
  display: inline-block;
}

.container-right a:hover .link-line {
  width: 100%;
}

.container-subtitle {
    width: 80%;
    margin-top: -24px;
}

.news-scroll {
  padding-top: 24px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 225px;
  overflow: scroll;
}

.news-item {
  width: 350px;
  height: 100%;
  flex: 0 0 auto;
  position: relative;
    background-image: url("../images/team/team.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    transition: bottom 0.1s ease-in;
    bottom: 0;
}

.news-item-link {
    margin-right: 24px;
}

.news-item:hover {
    bottom: 5px;
}

.section-welcome h5 {
  margin-bottom: -10px;
}

.news-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
    padding-left: 20px;
    padding-right: 80px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

.news-item-overlay article p {
    color: white;
    font-weight: 800;
    text-transform: uppercase;
}

.news-item-orange {
    background: linear-gradient(to top right, #FF8E39, rgba(0,0,0,0));
}
.news-item-purple {
    background: linear-gradient(to top right, #6D1468, rgba(0,0,0,0));
}
.news-item-blue {
    background: linear-gradient(to top right, #090065, rgba(0,0,0,0));
}

.news-scroll-more {
    display: inline-block;
    margin-top: 10px;
}

.section-featured {
    background: #363636;
}

.container-left-featured {
    background-image: url("../images/hammer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 960px) {
  .section-footer {
      background: black;
      min-height: 60vh;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      box-sizing: border-box;
      padding-top: 60px;
  }
}
@media screen and (min-width: 960px) {
  .section-footer {
      background: black;
      min-height: 60vh;
      width: 100%;
      padding-left: 48px;
      box-sizing: border-box;
      padding-top: 60px;
  }
}



.container-footer-left {
    padding-bottom: 60px;
}

.container-footer-left a {
    margin-right: 20px;
}
